# Clojure
.cpcache/
target/
classes/
pom.xml

# REPL
.nrepl-port
.nrepl-history

# Tooling
.clj-kondo/
.lsp/

# Editor
.DS_Store
.idea/
*.iml
.vscode/

*.html
node_modules/
package-lock.json

# Notebooks
notebooks/.venv/
notebooks/.ipynb_checkpoints/
.ipynb_checkpoints/
